/*学号：21181309*/
/*姓名：贾林瀚*/
*{
    font-size: 14px;
}
.nav a{
    text-decoration: none;
    background-color: #D3D3D3;
    color: white;
    display: block;
    width: 15%;
    float: left;
}
.nav a:hover{
    background-color: #808080;
}
.head-image {
    height: 200px;
    clear: left;
    border: grey 1px solid;
}
.container{
    border: grey 1px solid;
    background-color: #FBE6E1;
}
.header{
    margin-top: 0;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.left{
    float: left;
    background-color: pink;
    width: 160px;
    height: 720px;
    border: grey 1px solid;
}
.content{
    border: grey 1px solid;
    height: 720px;
}
.d1 {
    background-color:deeppink;
}
.d2:hover {
    background-color:plum;
}
.content-title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.portrait{
    float: right;
    width: 10%;
    height:10%;
}
.char-begin{
    height: 50px;
    width: 6%;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.footer{
    background-color: #808080;
    color: white;
}
a {
    text-decoration: none
}

.chart{
    position: absolute;
    right: 200px;
    width: 80%;
    height: 700px;
}
.LEFT{
    float: left;
    height: 500px;
    width: 30%;
}
.RIGHT{
    float: right;
    height: 500px;
    width: 60%;

}