<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天猫用户画像</title>
    <link rel="stylesheet" type="text/css" href="css/view.css" />
</head>
<body>
<!-- 图像区块 -->
<div class="head-image">
    <img src="img/header.jpg" width="100%" height="100%">
</div>
<!-- 结构化页面 -->
<div class="container">
    <!-- 大标题 -->
    <div class="header"><h1 class="header">用户画像</h1></div>
    <!-- 左边栏 -->
    <div class="left">
        <div class="d1">用户个人信息统计</div>
        <div class="d2"><a href="sex">用户性别统计</a></div>
        <div class="d2"><a href="age">用户年龄统计</a></div>
        <div class="d2"><a href="province">用户地域统计</a></div>
        <div class="d1">用户购物信息统计</div>
        <div class="d2"><a href="paylike">用户支付方式偏好</a></div>
        <div class="d2"><a href="shoplike">用户购物偏好</a></div>
        <div class="d2"><a href="shopability">用户消费能力</a></div>
    </div>
    <!-- 正文 -->
    <div class="content">
        <!-- 正文标题 -->
        <h2 class="content-title">用户画像</h2>
        <!-- 正文内容 -->
        <div class="above">
            <p>
                <img class="portrait" src="img/logo.gif"/>
                用户画像系统主要提供了用户的基本分析能力。在业务上，用户画像本质就是从业务角度出发对用户进行分析，了解用户需求，
                寻找目标客户。另外一个方面，金融企业利用统计的信息，开发出适合目标客户的产品。在技术上，涉及到Java服务端开发、大数据开发技术、Web前端及图表开发以及服务器部署与配置技术。</p>
            <p>在工程上，提供了需求分析、设计、开发、测试、部署以及项目管理等方面的完整参考实现。
                用户画像系统主要提供了用户的基本分析能力。
                在业务上，用户画像本质就是从业务角度出发对用户进行分析，了解用户需求，寻找目标客户。另外一个方面，金融企业利用统计的信息，开发出适合目标客户的产品。</p>
        </div>
        <div class="bottom">
        <div class="LEFT">
        <p>
        我们主演分两部分完成了工作：
            </p>
            <p>
                (1)用户数据统计：统计用户基本信息以及用户购物信息
            </p>
        <p>
        (2)统计结果可视化：对各项统计结果进行可视化处理
        </p>

        </p>

        <p>
            最终完成工作如下：
            </p>
        <p>用户基本信息：</p>
            <p>&nbsp;&nbsp;用户性别统计：
            绘制用户性别比例饼状图</p>
        <p>&nbsp;&nbsp;用户年龄统计：
            绘制用户年龄情况折线图</p>
        <p>&nbsp;&nbsp;用户地域统计：
            绘制热力图和柱形图反应用户来自的地域情况</p>
        <p>用户购物信息：</p>
        <p>&nbsp;&nbsp;用户支付方式偏好:
            绘制饼状图，反应用户使用支付方式的比例</p>
        <p>&nbsp;&nbsp;用户购物偏好:
            绘制饼状图 反应用户购买偏好情况</p>
        <p>&nbsp;&nbsp;用户消费能力:
            绘制柱状图反应用户的购买能力</p>

        </p>
    </div>
        <div class="RIGHT">
        <img src="img/img.png" width="60%" height="80%" >
        </div>
    </div>
    </div>
    <!-- 页脚 -->
    <div class="footer">@小饼干</div>
</div>

</body>
</html>